<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.ETLJobDao">


	<insert id="insert" parameterType="com.x8.mt.entity.ETLJob"
	useGeneratedKeys="true" keyProperty="id">
		insert into 		
		etljob(target_table_id,target_table,description,create_date)
		value(#{target_table_id},#{target_table},#{description},#{create_date})
	</insert>
	
	<update id="update" parameterType="com.x8.mt.entity.ETLJob" >
		update etljob 
		set status = #{status}
			,recently_run_date=#{recently_run_date}
			,log = #{log}		
		 where target_table_id = #{target_table_id}
	</update>
	
	<select id="getRowCount" resultType="int">
		select count(*) from
		etljob;
	</select>
	
	<select id="selectByParams" resultType="com.x8.mt.entity.ETLJob"
		parameterType="map">
		select * from etljob
		order by create_date desc
		limit ${offset},${size}
	</select>
	
	<delete id="deleteETLJob" parameterType="int">
	delete from etljob
	where target_table_id = #{id}
	</delete>
	
	<delete id="deleteETLJobs" parameterType="List">
        delete from etljob where target_table_id in
        <foreach item="ETLJobItem" collection="array" index="index" open="(" separator="," close=")">
            #{ETLJobItem}
        </foreach>
    </delete>
    <select id="queryTargetTableIdAndName" resultType="Integer">
		select distinct targettableid from
		metadata_tablefieldmapping
		where targettableid not in (SELECT target_table_id from etljob)
		;
	</select>
	
	<select id="queryTargetTableId" resultType="Integer">
		select distinct targettableid from
		metadata_tablefieldmapping
	</select>
</mapper>