<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IDispatchDao">

	
	<select id="queryAll" resultType="com.x8.mt.entity.Dispatch">
		select * from dispatch 
	</select>
	
	<select id="queryByDispatchId" resultType="com.x8.mt.entity.Dispatch">
		select * from dispatch where dispatchid = #{id}
	</select>

	<insert id="addDispatch" parameterType="com.x8.mt.entity.Dispatch"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		dispatch(name,description,jobname,status,runinterval,createtime,recenttime,endtime,type)
		values(#{name}, #{description},#{jobname},#{status},
		#{runinterval},#{createtime},#{recenttime},#{endtime},#{type})
	</insert>
	
	<delete id="deleteETLSchedule" parameterType="int">
		delete from
		dispatch where dispatchid=#{id}
	</delete>
	
	<update id="updateDispatch" parameterType="com.x8.mt.entity.Dispatch">
		update dispatch
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null">name=#{name},</if>
			<if test="description!=null">description=#{description},</if>
			<if test="jobname!=null">jobname=#{jobname},</if>
			<if test="status!=null">status=#{status},</if>
			<if test="runinterval!=null">runinterval=#{runinterval},</if>
			<if test="createtime!=null">createtime=#{createtime},</if>
			<if test="recenttime!=null">recenttime=#{recenttime},</if>
			<if test="endtime!=null">endtime=#{endtime},</if>
			<if test="type!=null">type=#{type},</if>
		</trim>
		where dispatchid=#{dispatchid}
	</update>
	
	<delete id="deleteETLSchedules" parameterType="List">
        delete from dispatch where dispatchid in
        <foreach item="ETLJobItem" collection="array" index="index" open="(" separator="," close=")">
            #{ETLJobItem}
        </foreach>
    </delete> 
    
    <select id="getRowCount" resultType="int">
		select count(*) from dispatch 
		<where>
            <if test="description != null">
                binary description like "%"#{description}"%"
            </if>
        </where>
	</select>
	
	<select id="selectByParams" resultType="com.x8.mt.entity.Dispatch"
		parameterType="map">
		select * from dispatch
		order by createtime desc
		limit ${offset},${size}
	</select>
	
	<select id="selectByDescription" resultType="com.x8.mt.entity.Dispatch"
		parameterType="map">
		select * from dispatch
        <where>
            <if test="description != null">
                binary description like "%"#{description}"%"
            </if>
        </where>
		order by createtime desc
		limit #{offset},#{size}
	</select>
	
	<select id="isRepeatByJobName" resultType="com.x8.mt.entity.Dispatch"
		parameterType="map">
		select * from dispatch
		where jobname = #{jobname}
	</select>
</mapper>