<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IMetamodel_relationDao">

	<select id="getDependencyRelationByMetamodelid" resultType="com.x8.mt.entity.Metamodel_relation" parameterType="Integer">
		select * from  metamodel_relation where metamodelid = #{id} and type = #{type}
	</select>

	<insert id="insertMetamodel_relation" parameterType="com.x8.mt.entity.Metamodel_relation">
		insert into metamodel_relation(metamodelid,relatedmetamodelid,type) values(#{metamodelid},#{relatedmetamodelid},"DEPENDENCY")
	</insert>

	<delete id="deleteMetamodel_relation" parameterType="Integer">
		delete from metamodel_relation where id = #{id}
	</delete>

</mapper>