<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IMetadataViewNodeDao">

	<!-- allen -->
	<select id="getMetadataViewNode" resultType="com.x8.mt.entity.MetadataViewNode">
		select * from
		metadata_view_node
		where id=#{id};
	</select>
	
	<insert id="insertMetadataViewNode" parameterType="com.x8.mt.entity.MetadataViewNode">
		insert into metadata_view_node(viewid,name,type,childtype,childmetamodelid,level) values(
		#{viewid},#{name},#{type},#{childtype},#{childmetamodelid},#{level}
		)
	</insert>
	
</mapper>
