<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IMetadataTankDao">

	<insert id="insertMetaDataTank" useGeneratedKeys="true"
		keyProperty="ID" parameterType="com.x8.mt.entity.MetadataTank">
		insert into
		metadata_tank(name,collectjobid,description,metamodelid,createtime,updatetime,checkstatus,attributes,version,keyid)
		values(#{NAME},
		<choose>
			<when test="COLLECTJOBID==0">
				NULL
			</when>
			<otherwise>
				#{COLLECTJOBID}
			</otherwise>
		</choose>
		,#{DESCRIPTION},#{METAMODELID},
		#{CREATETIME},#{UPDATETIME},#{CHECKSTATUS},#{ATTRIBUTES},#{VERSION},#{keyid})
	</insert>

</mapper>
