<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IMetaDataRelationDao">	
	
	<insert id="insertMetaDataRelation" parameterType="com.x8.mt.entity.MetaDataRelation"
		useGeneratedKeys="true" keyProperty="id">
		insert into 
		metadata_relation (metadataid,relatedmetadataid,type)
		values(#{metaDataId},#{relateMetaDataId},#{type})
	</insert>
	
	<select id="getSonMetadataID" resultType="java.lang.String">
		select relatedmetadataid from metadata_relation where metadataid=#{metadataId} and type='COMPOSITION'
	</select>
	
	<select id="getChildrenMetadataID" resultType="java.lang.String">
		select relatedmetadataid from metadata_relation where metadataid=#{metadataId}
	</select>
	
	<select id="getDependencyRelatedMetadataidList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select relatedmetadataid from metadata_relation where metadataid = #{id} and type = 'DEPENDENCY'
	</select>
	
	<select id="getMetadataidByRelatedmetadataid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select metadataid from metadata_relation where relatedmetadataid = #{id}
	</select>
	
</mapper>


