<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IMetaDataDao">	
	<delete id="deleteMetadataById" parameterType="int">
		delete from metadata where id = #{id}
	</delete>
	
	<delete id="deleteMetadataByCollectJobId" parameterType="int">
		delete from metadata where id = #{id}
	</delete>
	
	<update id="updateMetadataDescribeById" parameterType="com.x8.mt.entity.Metadata" >
		update metadata set desribe = #{DESCRIPTION} where id = #{ID}
	</update>
	
	<insert id="insertMetadata" parameterType="com.x8.mt.entity.Metadata" 
	useGeneratedKeys="true" keyProperty="ID">
		insert into 		
		metadata(name,collectjobid,description,metamodelid,createtime,updatetime,checkstatus,attributes,version)
		values(#{NAME},#{COLLECTJOBID},#{DESCRIPTION},#{METAMODELID},#{CREATETIME},#{UPDATETIME},#{CHECKSTATUS},#{ATTRIBUTES},#{VERSION})
	</insert>
	<select id="getMetadataByMetaModelId" resultType="com.x8.mt.entity.Metadata">
		select * from metadata where metamodelid=#{metaModelId}
	</select>
	
	<select id="getMetadataById" resultType="com.x8.mt.entity.Metadata">
		select * from metadata where id=#{id}
	</select>
	
	<select id="getMetadataByMap" parameterType="Map" resultType="com.x8.mt.entity.Metadata">
		select * from metadata where json_extract(attributes,#{key}) = #{value}
	</select>
	
</mapper>
