<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IMetamodel_datatypeDao">
	<select id="getMetamodel_datatype" parameterType="int" resultType="com.x8.mt.entity.Metamodel_datatype">
		select * from metamodel_datatype where metamodelid=#{id}
	</select>
	
	<select id="getMetamodel_datatypeByMetaModelId" parameterType="int" resultType="com.x8.mt.entity.Metamodel_datatype">
		select * from metamodel_datatype where metamodelid=#{metamodelid}
	</select>
	
	<insert id="addMetamodel_datatype" parameterType="com.x8.mt.entity.Metamodel_datatype" >
		insert into metamodel_datatype values(#{id},#{name},#{type},#{desribe},#{metamodelid},#{category})
	</insert>
	
	<update id="modifyMetamodel_datatype" parameterType="com.x8.mt.entity.Metamodel_datatype">
		update metamodel_datatype set name=#{name},type=#{type},desribe=#{desribe} where id = #{id}
	</update>
	
	<delete id="deleteMetamodel_datatype" parameterType="int">
		delete from metamodel_datatype where id=#{id}
	</delete>

</mapper>