<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.IMetadataManagementDao">

	<select id="getSonMetadata" resultType="com.x8.mt.entity.Metadata">
		select * from
		metadata where id in (select relatedmetadataid from metadata_relation
		where metadataid=#{metadataid} and type='COMPOSITION')
	</select>

	<select id="getMetamodelByMetadataid" resultType="com.x8.mt.entity.Metamodel_hierarchy">
		select * from
		metamodel_hierarchy where id in (select metamodelid from metadata
		where id=#{metadataid})
	</select>

	<select id="getViewNode" resultType="java.util.Map">
		select id,name as
		label,IF((SELECT count(*) FROM metadata WHERE
		metamodelid=childmetamodelid)>0,'false','true') AS leaf from
		metadata_view_node where viewid=#{viewid};
	</select>

	<select id="getMetadataFirstNode" resultType="java.util.Map">
		select metadata.id
		as id,name as label,metamodelid,IF((SELECT count(*) FROM
		metadata_relation
		WHERE
		metadataid=metadata.id and
		type='COMPOSITION')>0,'false','true')
		AS leaf
		from metadata where
		metamodelid in (select childmetamodelid
		from
		metadata_view_node where
		id=#{id}) and id not in
		(select
		relatedmetadataid from
		metadata_relation
		where
		type='COMPOSITION');
	</select>

	<select id="getMetadataOtherNode" resultType="java.util.Map">
		select metadata.id
		as id,name as label,metamodelid,IF((SELECT count(*) FROM
		metadata_relation
		WHERE
		metadataid=metadata.id and
		type='COMPOSITION')>0,'false','true')
		AS leaf
		from metadata where id in
		(select
		relatedmetadataid from
		metadata_relation
		where
		metadataid=#{metadataid} and type='COMPOSITION');
	</select>

	<select id="getMetamodelPrivateInfo" resultType="com.x8.mt.entity.Metamodel_datatype">
		select * from
		metamodel_datatype where metamodelid=#{metamodelidStr}
	</select>

	<select id="getHistoryMetadataPrivateInfo" resultType="java.lang.String">
		select
		attributes from metadata_tank where id=#{tankidStr}
	</select>

	<select id="getHistoryMetadataCommonInfo" resultType="com.x8.mt.entity.MetadataTank">
		select *
		from metadata_tank where keyid=#{metadataidStr}
	</select>

	<delete id="deleteMetadataDepend">
		DELETE FROM metadata_relation
		WHERE id=#{relationid}
	</delete>

	<select id="showMetadataDepend" resultType="java.util.Map">
		select t1.id as
		relationid,t2.id as targetmetadataid,t2.name as
		targetmetadataname,t2.description as description from metadata as t2
		inner join
		(select id,relatedmetadataid from metadata_relation where
		metadataid=#{metadataId} and type='DEPENDENCY') t1
		on t2.id =
		t1.relatedmetadataid
	</select>

	<insert id="addMetadataDepend" useGeneratedKeys="true"
		keyProperty="ID" parameterType="Map">
		insert into
		metadata_relation(metadataid,relatedmetadataid,type)
		values(#{metadataid},#{relatedmetadataid},'DEPENDENCY')
	</insert>

	<select id="getDependMetadata" resultType="java.util.Map">
		select t3.id as
		metadataid,t3.name as metadataname,t3.description as description from
		metadata as t3 where t3.metamodelid in (select t2.relatedmetamodelid
		from
		metamodel_relation as t2 where t2.metamodelid in (select
		t1.metamodelid
		from metadata as t1 where t1.id=#{metadataId}) and
		t2.type='DEPENDENCY') and t3.id not in (select t4.relatedmetadataid
		from metadata_relation as t4 where t4.metadataid=#{metadataId} and
		t4.type='DEPENDENCY');
	</select>

	<select id="searchMetadataCount" resultType="Integer">
		select count(*) from metadata
		where name like "%"#{key}"%" or description like "%"#{key}"%";
	</select>
	
	<select id="searchMetadataPage" resultType="com.x8.mt.entity.Metadata">
		select * from metadata
		where name like "%"#{key}"%" or description like "%"#{key}"%" order by id limit #{startIndex},#{pageSize};
	</select>

	<select id="getMetadataList" parameterType="Map" resultType="java.util.Map">
		select t2.id as
		metadataid,t2.name as metadataname
		<if test="medamodelId == 32">,t2.description as description </if>
		from
		metadata as t2 where t2.id in
		(select t1.relatedmetadataid from
		metadata_relation as t1 where
		t1.metadataid=#{metadataId} and
		t1.type='COMPOSITION') and
		t2.metamodelid=#{medamodelId};
	</select>

	<select id="getDatabaseMetadataList" resultType="java.util.Map">
		select id as
		metadataid,name as metadataname from
		metadata where
		metamodelid=#{metaModelId};
	</select>

	<delete id="daleteMetadata">
		DELETE FROM metadata WHERE id=#{metadataId}
	</delete>

	<update id="updateMetadatAttributes" parameterType="com.x8.mt.entity.Metadata">
		UPDATE
		metadata
		SET attributes=#{ATTRIBUTES}
		WHERE id = #{ID};
	</update>

	<update id="updateMetadata" parameterType="com.x8.mt.entity.Metadata">
		UPDATE metadata
		SET
		name=#{NAME},
		description=#{DESCRIPTION},
		updatetime=#{UPDATETIME},
		version=#{VERSION}
		WHERE id = #{ID};
	</update>

	<update id="updataMetadataCheckstatus" parameterType="com.x8.mt.entity.Metadata">
		update
		metadata set checkstatus = #{CHECKSTATUS} where id in (
		select id from
		(
		select id from metadata where collectjobid = #{ID}
		) as temp
		)
	</update>

	<!-- allen -->
	<select id="getAttributesField" resultType="java.lang.String">
		select name from
		metamodel_datatype where metamodelid=#{metaModelId};
	</select>

	<insert id="insertMetadata" useGeneratedKeys="true" keyProperty="ID"
		parameterType="com.x8.mt.entity.Metadata">
		insert into
		metadata(name,collectjobid,description,metamodelid,createtime,updatetime,checkstatus,attributes,version)
		values(#{NAME},NULL,#{DESCRIPTION},#{METAMODELID},#{CREATETIME},#{UPDATETIME},#{CHECKSTATUS},#{ATTRIBUTES},#{VERSION})
	</insert>

	<!-- allen -->
	<select id="getMetadata" resultType="com.x8.mt.entity.Metadata">
		select * from metadata
		where
		id=#{metadataId};
	</select>

	<!-- allen -->
	<select id="getFieldMetadata" resultType="com.x8.mt.entity.Metadata">
		select * from metadata
		where id in (select relatedmetadataid from metadata_relation where
		metadataid=#{tableMetadataId} and type='COMPOSITION');
	</select>
</mapper>
