<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x8.mt.dao.PermissionInfoDao">
	
	<!-- 根据用户id查询权限菜单列表 -->
	<select id="findMenuListByUserid" parameterType="int" resultType="com.x8.mt.entity.PermissionInfo">
		select * from permission_info 
			where resType = 'menu'
			And id in 
				(select permissionId  from role_permission 
					where roleId in 
						(select roleId from user_role 
							where userId = #{id}))
	</select>
	
	<!-- 根据用户id查询权限信息 -->
	<select id="findPermissionByUserId" parameterType="String" resultType="com.x8.mt.entity.PermissionInfo">
		select * from permission_info
			where resType = 'permission'
				And id in 
					(select permissionId from role_permission
						where roleId in
							(select roleId from user_role
								where userId = #{userid}))
	</select>
	
	
	<!-- 查询权限列表 -->
	<select id="findPermissionList" resultType="com.x8.mt.entity.PermissionInfo">
		select * from permission_info where resType = 'permission'
	</select>
	
	<!-- 根据权限名称模糊查询权限 -->
	<select id="findPermissionByPname" parameterType="String" resultType="com.x8.mt.entity.PermissionInfo">
		select * from permission_info where permissionName = #{permissionName} and resType = 'permission'
	</select>
	
	<!-- 根据角色名称查询给角色具有的权限 -->
	<select id="findPermissionByRoleName" parameterType="String" resultType="com.x8.mt.entity.PermissionInfo">
		select * from permission_info where resType = 'permission'  and id in 
			(select permissionId from role_permission where roleId in
				(select id from systemrole where rolename = #{roleName}))
	</select>
	
	<!-- 根据角色名称查询角色没有的权限项 -->
	<select id="roleNoPermission" parameterType="String" resultType="com.x8.mt.entity.PermissionInfo">
		select * from permission_info where resType = 'permission' and id not in 
			(select permissionId from role_permission where roleId in
				(select id from systemrole where rolename = #{roleName}))
	</select>
	
	<!-- 给角色添加权限 -->
	<insert id="addPermission" parameterType="java.util.List">
		insert into role_permission(roleId,permissionId) 
			values
			<!-- permissionMap就是list里每一项的对象名称，要用“，”分隔每一条数据，最后要“；”结尾 -->
			<foreach collection="list" item="permissionMap" index="index" separator="," close=";">
				(#{permissionMap.roleId,jdbcType=BIGINT},#{permissionMap.permissionId,jdbcType=BIGINT})
			</foreach>
	</insert>
	
	<!-- 删除指定的角色的权限项 -->
	<delete id="deletePermission" parameterType="map">
		delete from role_permission where roleId = #{roleId}
				and permissionId in
				<foreach collection="permission" item="permissionList" index="index" open="(" separator="," close=")">
					#{permissionList}
				</foreach>
	</delete>
	
	<!-- 根据用户名查询权限标签 -->
	<select id="selectPerCodeByUserName" parameterType="String" resultType="com.x8.mt.entity.PermissionInfo">
		select * from permission_info where resType = 'permission' and id in
			(select permissionId from role_permission where roleId in
				(select roleId from user_role where userId in
					(select id from systemuser where username=#{username})))
	</select>
</mapper>